<div class="container">

  <header>
    <div class="title">
      <h3>Our Pricing</h3>
    </div>
    <div class="switch-section">
      <h6 class="sub-title">Annually<label class="switch"><input type="checkbox"><span class="slider round"></span></label>Monthly</h6>
    </div>

  </header>

  <div class="grid-parent">

    <div class="card basic-card">

      <h4 class="card-title">Basic</h4>

      <h2 class="price special-price" style="display: none"><span>₹</span>199</h2>
      <h2 class="price special-price"><span>₹</span>699</h2>
      <hr id>
      <h5 class="text"> Max 5 products</h5>
      <hr>
      <h5 class="text">No advertisement</h5>
      <hr>
      <h5 class="text">Sell up to 1000 items</h5>
      <hr>
      <div>
        <button class="button btn" type="button" name="button">LEARN MORE</button>
      </div>
    </div>

    <div class="card professional-card">
      <h4>Professional</h4>
      <h1 class="price" style="display: none"><span>₹</span>249</h1>
      <h1 class="price"><span>₹</span>1499</h1>
      <hr>
      <h5>Max 10 products</h5>
      <hr>
      <h5>Basic advertisement, no discount applicable</h5>
      <hr>
      <h5>Sell up to 10000 items</h5>
      <hr>
      <div>
        <button class="professional-button pro-btn" type="button" name="button">LEARN MORE</button>
      </div>
    </div>
    <div class="card master-card">

      <h4 class="card-title">Master</h4>
      <h1 class="price" style="display: none"><span>₹</span>499</h1>
      <h1 class="price"><span>₹</span>2999</h1>
      <hr>
      <h5 class="text">Max up to 100</h5>
      <hr>
      <h5 class="text">advertisement+discount+10% off on logistics</h5>
      <hr>
      <h5 class="text">No selling limit</h5>
      <hr>
      <div>
        <button class="button btn" type="button" name="button">LEARN MORE</button>
      </div>
    </div>
  </div>

  <footer>
    <div class="attribution">

    </div>
  </footer>

</div>

